.legend {
  font-size: 1rem;
  white-space: nowrap;
}

legend {
  float: none;
  width: inherit;
}

.table thead th {
  border-bottom: 3px solid #dee2e6;
}

:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

div svg path {
  /* stroke-width: 0px; */
  position: absolute;
}
//  div svg path:hover {
//   //  fill: aqua;
//     //opacity: 1;
//  }

.bar{
  fill: steelblue;
}

.tooltip{
  position: absolute;
  background-color: rgb(245, 247, 247);
  border: 1px solid ;
  border-radius: 5px;
  pointer-events:none;
}

